{% extends 'base.html' %}

{% block body %}

<div class="container mt-5">
    <form class=" col-6 mx-auto p-3 shadow-lg mt-5 bg-dark-subtle rounded" method="post" action="/" enctype="multipart/form-data">
        {% csrf_token %}
        <h1 class="text-center py-3">Add Tasks to-do</h1>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Task Name</label>
            <input type="text" class="form-control" placeholder="Enter Task Name" name="task_name" required>
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control" aria-label="With textarea" name="task_description" placeholder="Task's Description" required></textarea>
          </div>
        <select class="form-select mb-3" aria-label="Default select example" name="category" required>
            <option selected>Category</option>
            <option value="Education">Education</option>
            <option value="Shopping">Shopping</option>
            <option value="Entertainment">Entertainment</option>
            <option value="Financial">Financial</option>
          </select>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Start Date</label>
          <input type="date" class="form-control" style="text-transform: uppercase;" name="start_date" required>
        </div>
        <select class="form-select mb-3" aria-label="Default select example" name="importance" required>
            <option selected>Importance</option>
            <option value="Less Important">Less Important</option>
            <option value="More Important">More Important</option>
          </select>
        <button type="submit" class="btn btn-outline-secondary text-dark my-3">Submit</button>
      </form>


      
</div>
<a href="tasklist" class="btn btn-outline-dark py-3 px-5 position-absolute start-50 translate-middle mt-5">View Added Tasks</a>
{% endblock %}
