{% extends 'base.html' %}

{% block body %}

<div class="container mx-auto py-3 px-4 shadow-lg mt-5 rounded bg-light">
    <h1 class="text-center mb-3">My Tasks</h1>
    <table class="table">
      <thead>
      
        <tr>
          <th class="bg-info-subtle" scope="col">#</th>
          <th class="bg-info-subtle" scope="col">Task Name</th>
          <th class="bg-info-subtle" scope="col">Task Description</th>
          <th class="bg-info-subtle" scope="col">Category</th>
          <th class="bg-info-subtle" scope="col">Start Date</th>
          <th class="bg-info-subtle" scope="col">Importance</th>
          <th class="bg-info-subtle" scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
          {% for info in infos %}
        <tr>
          <th class="p-3 bg-success-subtle" scope="row">{{forloop.counter}}</th>
          <td class="p-3 bg-success-subtle">{{info.task_name}}</td>
          <td class="p-3 bg-success-subtle">{{info.task_description}}</td>
          <td class="p-3 bg-success-subtle">{{info.category}}</td>
          <td class="p-3 bg-success-subtle">{{info.start_date}}</td>
          <td class="p-3 bg-success-subtle" id="importance">{{info.importance}}</td>
          <td class="p-3 bg-success-subtle"><a href="/delete_task/{{info.id}}/" class="btn btn-danger">Delete</a></td>      
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <a href="/" class="btn btn-success py-3 px-5 position-absolute start-50 translate-middle mt-5">Add More Tasks</a>
{% endblock %}